@media (max-width: 993px) {
  .small-box_title {
    font-size: 18px;
  }

  .media-links {
    column-gap: 30px;
  }
}

@media (max-width: 900px) {
  .catalog-container {
    gap: 20px;
  }

  .media-links {
    column-gap: 20px;
  }
}

@media (max-width: 830px) {
  .header-nav_link {
    padding-inline: 10px;
  }

  .catalog-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .footer-content {
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .page-header {
    padding-block: 10px;
  }
  .header-nav {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .banner {
    height: 450px;
  }
}

@media (max-width: 576px) {
  .banner {
    height: 400px;
  }

  .page-footer {
    padding-block: 30px;
  }
}

@media (max-width: 450px) {
  .catalog-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .catalog-container_items:nth-of-type(1) {
    grid-row: span 1;
    grid-column: span 1;
  }

  .big-box_text {
    max-width: 350px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
